<style>
      body {padding: 10px;margin: 10px}
      input[type=number] {
        /*for absolutely positioning spinners*/
        position: relative;
        padding: 5px;
        padding-right: 50px;
      }

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        opacity: 1;
      }

      input[type=number]::-webkit-outer-spin-button,
      input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: inner-spin-button !important;
        width: 50px;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
      }
</style>

<lmoc-header></lmoc-header>


<div class="container">
	<br/>

	<div class="row">

		<div class="col">
			<form class="form-inline">
			  <div class="form-group mx-sm-3 mb-2">
				<label for="binLocation">BIN:&nbsp</label>
				<input type="text" class="form-control" id="binLocation" ng-model="binLocation">
			  </div>
			  <p>
				<button class="btn btn-primary" type="button" ng-click="goToCountBin()">Count Bin</button>
				<button class="btn btn-primary" type="button" ng-click="reset()">Reset</button>
			  </p>
			</form>
		</div>
		<!-- <div class="col">

		 	<form class="form-inline">
				<div class="form-group mx-sm-3 mb-2">
						<div class="input-group mb-3">
						  <label for="daysCount">Due in: &nbsp</label>
						  <input type="text" class="form-control" id="daysCount" aria-describedby="days" ng-model="daysCount">
						  <div class="input-group-append">
							<span class="input-group-text" id="days">Days</span>
						  </div>
						</div>
				</div>
			</form>
		</div> -->
	</div>

</div>
<!--cards for each pending count-->
<div class="card-columns">
	<div class="card text-center" ng-repeat="pendingcount in pendingCounts | filter: {locCode: binLocation} ">
	  <div class="card-body">
		<h5 class="card-title">{{ pendingcount.locCode }}</h5>
		<p class="card-text"> Part Number: {{ pendingcount.partNoOem }}</p>

			<form>
				 <div class="form-row">
					 <div class="form-group col-md-8">
					   <label for="inputQty" class="sr-only">Quantity</label>
					   <input type="number" class="form-control" id="inputQty" placeholder="Enter qty">
					 </div>
					 <div class="form-group col-md-4">
					    <button type="submit" class="btn btn-primary btn-sm" ng-click="enterQty()">Submit</button>
					 </div>
				 </div>
			</form>
			<small class="text-muted">Count By: {{ pendingcount.countByDate }}</small>
	   </div>
	 </div>
</div>

<!-- Modal -->
<div class="modal bd-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure that you want to submit?</h5>
      </div>
      <div class="modal-body">
        <p>Total Quantity: 10</p>
      </div>
      <div class="modal-footer centered">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>
